
// background-color
$background-gradient-start: #001D21;
$background-gradient-end: #000000;

// nav bar
$nav-background-color: #273F42;

// active nav link
$active-background-color: #C4F5E2;
$active-color: #001D21;

// nav link
$nav-link-color: #E7EBEE;
$nav-link-hover-color: #C4F5E2;

// article-container-background
$article-container-background: #273F42;

// card background
$card-gradient-start: #001D21;
$card-gradient-end: #001D21;
$card-hover-color: #C4F5E2;

// card font
$card-font-color1: #E7EBEE;
$card-font-color2: #818E93;

// general
//$font-color: #e7e7e7;
//$font-color-2: #aaafcb;

// button
$load-button-color: #273F42;
$load-button-font-color: #273F42;
